
       .itsme
       {
           color: blanchedalmond;
           background-color: chartreuse;
       }
       .its
       {
display: flex;
justify-content: space-between;
background-color: cyan;
       }